
/* ESTILOS GENERALES */
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisbtn: #444444;
    --oscuro2: #313131;
    --azul: rgb(14, 54, 231);
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    /*scroll-snap-type: y mandatory;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px  para que se pueda aplicar esta equivalencia hay que agregar los valores el html y al body*/
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.8rem;
}
h1,h3{
    text-align: center;
    line-height: 3rem;
}
/* con este contenedo centramos el contenido */
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}


/* BARRA DE NAVEGACIÓN */
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    .nav-bar{  
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.logo{
    width: 7rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    .navegacion-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion-principal a{
    /*cambiamos le direccion de los enlaces a block para cuando la pantalla sea chica se ponga en block
    y cuando la pantalla sea superior a 768px se aplica el mediaquerie y pone la direcion en flex: row */
    display: block;
    text-align: center;
    color: var(--oscuro);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
}

.navegacion-principal a:hover{
    color: #0498a8;
}

.btn-iniciar-sesion{
    background-color: var(--oscuro2);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2rem;
    width: 35%;
    text-align: center;
    border: none;
    transition: .3s ease all;
}

.btn-iniciar-sesion:hover {
    cursor: pointer;
    background: var(--grisbtn);
}

@media(min-width: 768px){
    .btn-iniciar-sesion{
        padding: 1rem 1rem;
        width: 20%;
    }
}


/* HERO */

.hero{
    /* background-image: url(../img/ps5-spiderman.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(./assets/img/ps5-spiderman.jpg);
    background-position: center center;
    height: 600px;
    position: relative;
    
}

.contenido-hero{
    position: absolute;
    color: var(--blanco);
    /*background-color: rgba(0,0,0, .6); */ 
    width: 80%;
    height: 100%;
    /* mandar el contenido abajo  */ 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 3rem;
}

@media(min-width: 768px){
    .contenido-hero{
        width: 40%;
        margin-left: 18rem;
    }       
}

.imagen-titulo-hero{
    width: 32rem;
    margin-bottom: 2rem;
}

.titulo-hero{
    margin-bottom: 2.5rem;
    font-weight: 600;
}

.hero-descripcion{
    line-height: 2.3rem;
    margin-bottom: 2rem;
}

.btn-hero{
    background: rgb(228, 71, 14);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    margin-bottom: 5rem;
}

.btn-hero:hover{
    cursor: pointer;
    background: rgb(248, 84, 25);
}

@media(min-width: 768px){
    .btn-hero{
        padding: 1.5rem 1rem;
        width: 40%;
    }
}


/* SECCIÓN DE LOS VIDEO JUEGOS */

.play-no-limit{
    color: var(--azul);
    margin-top: 5rem;
    margin-bottom: .5rem;
    font-weight: 600;
}

.juegos h1,h3{
    margin: 0;
    font-weight: 600;
    color: black;
}
.juegos h1{
    margin-bottom: 2.5rem;
    font-size: 3.8rem;
}

.cards-juegos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

@media (min-width: 576px) {
    .cards-juegos{
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
         /* manejar la ceparación de las columnas */
        column-gap: 1rem;
        margin-top: 10rem;
    }
}

@media (min-width: 1023px) {

    .cards-juegos{
        max-width: 120rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

.title-card{
    text-align: center;
    font-size: 4rem;
}

.card{
    width: 33rem;
    height: 43rem;
    border-radius: .8rem;
    box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2);
    overflow: hidden;
    margin: 2rem;
    text-align: center;
    transition: all 0.25s;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 .12px 16px rgba(0, 0, 0, .2);
}

.card img{
    width: 33rem;
    height: 22rem;
}
.card h4{
    font-size: 3.5rem;
    font-weight: 400;
    margin: .5rem;
}
.card p{
    padding: 0 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.btn-card{
    background: var(--azul);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    /* si no se centra el boton se centra de la siguiente manera auto a la izquierda y derecha */
    margin: 2rem auto 5rem auto;
    /* otra forma de centrar el boton  */
    /*margin-left: auto;
    margin-right: auto;*/
    width: 20rem;
}
.btn-card:hover{
    cursor: pointer;
    background: rgb(58, 92, 245);
}


/* FOOTER */

.footer{
    background-color: var(--azul);
    margin-top: 5rem;
    height: 25rem;
}

@media(min-width: 768px){
    .footer{
        height: 10rem;
    }
}


.footer-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width: 768px){
    .footer-contenido{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.img-footer{
    width: 20rem;
}

.svg-footer{
    width: 15rem;
}

.navegacion-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(min-width: 768px){
    .navegacion-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion-footer a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
}

.navegacion-footer a:hover{
    color: var(--oscuro2);
}

.footer-end{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}


/* APARTADODE LOGIN */

.bg-dark{
    background-color: var(--dark) !important;
    color: var(--light);
}

.bg-dark-x{
    background-color: var(--dark-x);
}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
}

.img-1{
    background-image: url('./assets/img/all-personajes.png');
    background-size: cover;
    background-position: center;
}

.img-2{
    background-image: url('./assets/img/thumb-playstation.jpg');
    background-size: cover;
    background-position: center;
}

.btn-login{
    font-size: 1.7rem;
}

.input-login{
    font-size: 1.5rem;
}

.logo-login{
    width: 20rem;
}

.alto-100 {
    height: 100vh;
}


/*  ESTILOS PARA EL MODAL */

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 500px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}


/* Tabla de productos sección admin */

.imagen-product-admin{
    height: 6rem;
    width: 10rem;
}


/* sección de la tienda */

.anuncio-tienda{
    background-color: var(--dark);
    height: 20rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    color: var(--blanco);

}

.descripcion-tienda{
    color: var(--blanco);
}

.btn-card-tienda{
    background:  rgb(228, 71, 14);;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    /* si no se centra el boton se centra de la siguiente manera auto a la izquierda y derecha */
    margin: 2rem auto 5rem auto;
    /* otra forma de centrar el boton  */
    /*margin-left: auto;
    margin-right: auto;*/
    width: 20rem;
}

.btn-card-tienda:hover{
    cursor: pointer;
    background:  rgb(248, 84, 25);
}